@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
h1 {
    font-family: 'Gochi Hand', cursive;
    margin: 30px auto;
    text-align: center;
    font-size: 3rem;
    color: #284b63;
}

table {
    border: 5px #284b63 solid;
    border-radius: 5px;
    margin: auto;
}

td {
    background-color: #3d5a80;
    width: 50px;
    height: 50px;
}

td.on {
    background-color: #ffd166;
}
